body {
    font-family: Arial, sans-serif;
}

#container {
    width: 960px;

    margin: auto;

    font-size: 1em;
}

h1 {
    font-size: 3.25em;
    font-weight: 700;
    margin: 0.3em 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0.75em 0 0.5em 0;
    border-bottom: 2px solid black;
}

footer {
    text-align:center;
    font-style:italic;
    border-top: 2px solid black;
    padding: 0.5em;
    clear: both;
    font-size: 0.8em;
}

nav ul {
    background-color: black;
    padding: 0.4em 0;
    font-size: 1.1em;
    overflow:auto;
}

nav li {
    float:left;
    padding: 0 0.5em;
}

nav li:first-child {
    border-right: 2px solid white;
}

a {
     text-decoration: none;
     color: white;
}



.statBox {
    width: 300px;
    display: table;
        margin-bottom: 1em;
        float: left;
        margin-left: 27px;
        border:1px solid #ccc;
        font-size: 1em;
}

.statBox:nth-last-of-type(3n) {
    margin-left: 0;
    clear: both;
}



.statBoxHeader {
    font-size: 1.25em;
    font-weight: 600;
    padding: 0.25em;
    color: white;
    background-color: #505050;
}

.statBoxHeader p {
    float: right;
}

h3 {
    display:inline;
}

div.statBox span {
    float: left;
    padding: 0.25em;
}

div.statBox span:nth-child(2n+1) {
    float: right;
}

div.statBox span:nth-child(2n+2) {
    clear: both;
}


#TableRowListView_NewRoundLinkButton {
padding: 1em;
border: 1px solid black;
}



tfoot a:hover {
    background-color: lightgreen;
}

.editButton {
    width: 15px;
}

.pagingButtons, .currentPage {
display:inline-block;
    width:20px;
    height:20px;
    line-height:20px;
    border: 1px solid #505050;
    border-radius: 50%;
    color: #505050;
    text-align:center;
    text-decoration:none;
    bac kground: white;
    b ox-shadow: 0 0 3px gray;
    font-size:14px;
    font-weight:bold;

    margin: 2px;
}

.currentPage {
background: #ddd;

}

.aspNetDisabled {
    visibility:hidden;
}
/*================================RoundDataTable================================================*/
table {
    width: 100%;
    font-size: 0.9em;
    border: 1px solid #ccc;
}

th {
    font-weight: bolder;
    background-color: #505050;
    color: white;
    padding: 0.5em;
    font-weight:600;
    font-size: 1.1em;
}

td {
    padding: 0.5em;
    text-align: center;
}

tbody tr {
    border-bottom:1px solid  #ccc;
}

#RoundDataTable tbody tr:hover {
    background-color:lightgreen;
}

#RoundDataTable th:nth-of-type(2), #RoundDataTable td:nth-of-type(2)  {
    text-align: left;
    width: 25%;
}

#pager {
    margin-top: 0.8em;
    text-align: center;
}

#pager a:hover {
    background-color: lightgreen;
}

.newButton {
    font-size: 0.75em;
    font-weight: 700;
    padding: 0.2em 0.5em;
    background-color: #909090;
    color: white;
    border: 2px solid #404040;

    
}

.newButton:hover {
    
    background-color: lightgreen;
    color: darkgreen;
    
}


/* ValidationMessage & StatusMessage */

.validationMsg, .msgPanel {
margin: 0.8em 0;
color:white;
background-color: #d14848;
border: 2px solid #6f0d0d;
padding: 1em;
font-weight:700;
}

.validationMsg li{
padding:0.25em 0;
}

.msgPanel {
    background-color: green;
    border: 2px solid #143c16;
    overflow: auto;
}

.msgPanel a {
    float: right;
}

.msgPanel p {
    float: left;
}

.inputTable {
    border: 1px solid #ccc;
    background-color: lightgreen;


}



.inputTable input{
    width:25px;
}

.inputTable td{
    /*padding-left:0;
    padding-right:0;*/
}
.inputTable td:nth-of-type(1) input{
    width:75px;
}

.inputTable select {
    width:300px;
}

.inputTable th:nth-of-type(1) {
    width: 85px;
}

.inputTable th:nth-of-type(2), .inputTable  td:nth-of-type(2)  {
    text-align: left;
    width: 75px;
}


.inputTable td:last-of-type {

text-align: right;
}
.appButton {
       font-size: 0.75em;
    font-weight: 700;
    padding: 0.2em 0.5em;
    background-color: #909090;
    color: white;
    border: 2px solid #404040;

    

}